{% extends "layout.html" %}
{% block content %}

<section class="hero-video">
  <video
    autoplay
    muted
    loop
    playsinline
  >
    <source src="{{ url_for('static', filename='icons/homevideo.mp4') }}" type="video/mp4">
  </video>

</section>

<!-- Developers -->
<section class="dev-phones">
  <div class="container">
    <h2>Utviklarar</h2>

    <div class="phone-grid">
      <!-- 1 kort = 1 telefon -->
      <article class="iphone-card">
        <div class="screen">
          <h3>Thea Veivåg</h3>
          <img class="photo" src="{{ url_for('static', filename='images/team/thea.jpg') }}" alt="Thea Veivåg">
          <p>Økonomi og administrasjon<br>HVL, Bergen</p>
        </div>
      </article>

      <article class="iphone-card">
        <div class="screen">
          <h3>Henrikke Hopland</h3>
          <img class="photo" src="{{ url_for('static', filename='images/team/henrikke.jpg') }}" alt="Henrikke Hopland">
          <p>Økonomi og administrasjon<br>HVL, Bergen</p>
        </div>
      </article>

      <!-- Kopiér fleire <article> for resten av teamet -->
    </div>
  </div>
</section>

{% endblock content %}












