{% extends "layout.html" %}
{% block content %}

<section class="hero-video">
  <video
    autoplay
    muted
    loop
    playsinline
  >
    <source src="{{ url_for('static', filename='icons/homevideo.mp4') }}" type="video/mp4">
  </video>

</section>

<!-- Developers -->
<section class="dev-phones">
  <div class="container">
    <b>
      
    </b>
    <h2>Meet our team</h2>

    <div class="phone-grid">
      <article class="iphone-card">
        <div class="screen">
          <h3>Thea Veivåg</h3>
          <img class="photo" src="{{ url_for('static', filename='icons/thealouiseveivog.jpg') }}" alt="Thea Veivåg">
          <p>Økonomi og administrasjon<br>HVL, Bergen</p>
        </div>
      </article>

      <article class="iphone-card">
        <div class="screen">
          <h3>Henrikke Hopland</h3>
          <img class="photo" src="{{ url_for('static', filename='icons/henrikkehopland.jpg') }}" alt="Henrikke Hopland">
          <p>Økonomi og administrasjon<br>HVL, Bergen</p>
        </div>
      </article>

      <article class="iphone-card">
        <div class="screen">
          <h3>Emma Sørbo</h3>
          <img class="photo" src="{{ url_for('static', filename='icons/emma.jpg') }}" alt="Henrikke Hopland">
          <p>Økonomi og administrasjon<br>HVL, Bergen</p>
        </div>
      </article>

      <article class="iphone-card">
        <div class="screen">
          <h3>Nora Hjelle Ambø</h3>
          <img class="photo" src="{{ url_for('static', filename='icons/nora.jpg') }}" alt="Henrikke Hopland">
          <p>Økonomi og administrasjon<br>HVL, Bergen</p>
        </div>
      </article>

      <article class="iphone-card">
        <div class="screen">
          <h3>Kajsa Autsbø</h3>
          <img class="photo" src="{{ url_for('static', filename='icons/kajsa.jpg') }}" alt="Henrikke Hopland">
          <p>Økonomi og administrasjon<br>HVL, Bergen</p>
        </div>
      </article>

      <article class="iphone-card">
        <div class="screen">
          <h3>Maria Olsen</h3>
          <img class="photo" src="{{ url_for('static', filename='icons/maria.jpg') }}" alt="Henrikke Hopland">
          <p>Økonomi og administrasjon<br>HVL, Bergen</p>
        </div>
      </article>


      <article class="iphone-card">
        <div class="screen">
          <h3>Muriel Blok</h3>
          <img class="photo" src="{{ url_for('static', filename='icons/muriel.jpg') }}" alt="Henrikke Hopland">
          <p>Økonomi og administrasjon<br>HVL, Bergen</p>
        </div>
      </article>

      <!-- Kopiér fleire <article> for resten av teamet -->
    </div>
  </div>
</section>


{% endblock content %}























